body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.answer,.calculator {
    background-color: rgb(212, 212, 212);
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-template-rows: repeat(5,60px);
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
}

.answer {
    width: 290px;
    height: 60px;
    border: 1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
}

.answer p {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    font-size: 23px;
}

.extra {
    grid-column: span 2;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner {
    height: 50px;
    width: 270px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(238, 237, 237);
    
}

.operator {
    background-color: rgb(228, 255, 246);
}

.number {
    background-color: rgb(185, 210, 255);
}

.clr,.invert,.percent,.decimal,.calc {
    background-color: rgb(255, 255, 154);
} 
